/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

.hero {
    background: url('hero-image.jpg') no-repeat center center/cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 1rem;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
}

.hero p {
    font-size: 1.5rem;
}

.about-us {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.about-us h2 {
    font-size: 2rem;
    color: #008080;
    margin-bottom: 1rem;
}

.about-us p, .about-us ul {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.about-us ul {
    list-style-type: none;
    padding-left: 0;
}

.about-us ul li {
    margin-bottom: 0.5rem;
}

.about-us ul li strong {
    color: #008080;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .about-us h2 {
        font-size: 1.5rem;
    }

    .about-us p, .about-us ul {
        font-size: 0.9rem;
    }
}
.social-icon {
    margin: 0;
    padding: 0;
}
.social-icon-item {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.social-icon-link {
    background: var(--social-icon-link-bg-color);
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-size: var(--btn-font-size);
    display: block;
    margin-right: 50px;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 40px;
    transition: all 0.5s;
}

.icon-svg{
    width: 30px;
}