body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CAD2C5;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}



section {
    background-color: #52796F;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, button {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#invoiceResult {
    margin-top: 20px;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 4px;
}

.social-icon {
    margin: 0;
    padding: 0;
}
.social-icon-item {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.social-icon-link {
    background: var(--social-icon-link-bg-color);
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-size: var(--btn-font-size);
    display: block;
    margin-right: 50px;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 40px;
    transition: all 0.5s;
}

.icon-svg{
    width: 30px;
}